*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,body{
    height: 100%;
}

.h{
    color: white;
    margin-top: 40px;
}

.sh{
    color: white;
    font-weight: lighter;
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -10px;
    border-bottom: 2px solid purple;
    width: 10%;
}

.l{
    font-weight: bolder;
    font-size: x-large;
}

.txt{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.subtext{
    margin-top: 40px;
}

.joe{
    color: white;
    font-size: x-large;
    position: relative;
    top: 275px;
    padding-left: 10px;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-color: #F2CE97;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel{
    height: 500px;
    width: 900px;
    background-color: #484956;
    display: flex;
}

.left{
    height: 500px;
    width: 300px;
    background-color: #484956;
    margin-left: 40px;
}

.left img{
    width: 64px;
    height: 64px;
    position: relative;
    top: 300px;
    border-radius: 999px 999px 999px 999px;
    filter: drop-shadow(0 0 0.75rem black);;
}

.right{
    height: 500px;
    width: 600px;
    background-color: white;
}

.bottom_right {
    position: relative;
    margin-top: 100px;
    padding-top: 20px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.bottom_right img{
    padding-left: 200px;
    padding-right: 5px;
    position: relative;
    top: 5px;
}

.bottom_right .more {
    position: relative;
    top: -20px;
    left: 240px;
}
