*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.wrapper{
    height: 100%;
    background-color: rgb(248, 229, 227);
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel{
    width: 1000px;
    height: 600px;
    background-color: white;
    box-shadow: 0 10px 20px 
    rgba(0,0,0,0.19), 0 6px 6px 
    rgba(0,0,0,0.23);
}

#back{
    width: 20px;
    position: relative;
    top: -550px;
    left: -320px;
    z-index: 2;
}

.left a{
    position: relative;
    top: -554px;
    left: -315px;
    text-decoration: none;
    color: gray;
}

#btn,#spain{
    left: 300px;
    padding-right: 20px;
}

#spain{
    color: black;
}

.left img{
    width: 337.4px;
}

.ptitle{
    font-size: xx-large;
    font-weight: lighter;
    position: relative;
    top: -420px;
    left: 400px;
}

.subtire{
    position: relative;
    top: -10px;
}

.subtext{
    position: relative;
    top: -400px;
    left: 400px;
}

.text{
    top: -560px;
    position: relative;
    left: 600px;
    padding-left: 30px;
}

.right img{
    width: 200px;
    position: relative;
    top: -380px;
    left: 400px;
}

#play{
    position: relative;
    width: 40px;
    top: -420px;
    left: 279px;
    z-index: 2;
}

.circle{
    width: 55px;
    height: 55px;
    background-color: rgb(245, 246, 243);
    border-radius: 100px 100px 100px 100px;
    position: relative;
    top: -470px;
    left: 475px;
    z-index: 1;
}

.next{
    position: relative;
    top: -560px;
    left: 400px;
}

#nextbtn{
    width: 20px;
    position: relative;
    top: -580px;
    left: 548px;
}
